{
    "project_id": "infra-555555",
    "source_image_family": "ubuntu-1604-lts",
    "machine_type": "f1-micro",
    "image_description": "reddit-image",
    "disk_size": "10",
    "disk_type": "pd-standard",
    "network": "default",
    "tags": "puma-server"
  }


